@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* @import url('https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css'); */

* {
  margin: 0;
  padding: 0;
  font-family: 'Cabin',sans-serif;
  color: white;
  /* background-color: black; */
}

:root{
  --red:#a33327;
  --black:#232323;
  --white:rgba(255,255,255,0.9);
  --large:64px;
  --medium:40px;
  --small:30px;
}



body{
  /* height: 100vh; */
  background: #232323;
  
  /* background: rgb(205,165,160);
  background: linear-gradient(180deg, rgba(205,165,160,1) 13%, rgba(35,35,35,1) 39%); */
/*   
background: rgb(35,35,35);
background: linear-gradient(0deg, rgba(35,35,35,1) 50%, rgba(146, 92, 87, 0.7) 79%, rgba(163, 51, 39,0) 100%); */
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--red); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #232323; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}