#work{
    background-image: url('../../static/images/work-cover.png') !important;
}

#main-heading-work{
    text-align: center;
    width: 100vw;
    margin: 220px 0 100px 0;
    font-size: var(--medium);
    opacity: 0.9;
}

.work-container-p{
    margin-top: 90px;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-flow: row wrap;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-content: stretch;
}

.image-work-container{
    width: 21vw;
    border-radius: 15px;
    margin-bottom: 100px;
    box-shadow: 10px 4px 20px #000000;  
    transition: all 0.1s ease-out;
}

.image-work-container:hover{
    transform: scale(1.03);
    box-shadow: 10px 4px 50px #000000;  
    cursor: pointer;
}


@media only screen and (max-width: 600px) {

    #main-heading-work{
        text-align: center;
        width: 100vw;
        margin: 0;
        font-size: var(--medium);
        opacity: 0.9;
    }
    .work-container-p{
        margin-top: 60px;
        align-items: center;
        justify-content: center;
    }
    .image-work-container{
        width: 60vw;
    }

}